* {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  text-align: center;
  }

.component-overlay {
  background-image: linear-gradient(to bottom,rgb(147, 163, 173), rgb(244, 246, 247));
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
.component {
  margin: 6rem auto;
  width: 20rem;
  position: relative;
  display: flex;
  box-shadow: 1px 1px 2px 4px rgb(212, 212, 212), 1px 1px 6px 6px rgb(128, 130, 131);
  background-color: rgb(32, 114, 168);
  flex-direction: column;
  padding: 5rem 2rem;
  border-radius: .4rem;
}
